Представим, что международное круизное агентство Carnival Cruise Line решило себя разрекламировать с помощью баннеров и обратилось для этого к вам. Чтобы протестировать, велика ли от таких баннеров польза, их будет размещено всего 20 штук по всему миру. Вам надо выбрать 20 таких локаций для размещения, чтобы польза была большой и агентство продолжило с вами сотрудничать.

Агентство крупное, и у него есть несколько офисов по всему миру. Вблизи этих офисов оно и хочет разместить баннеры — легче договариваться и проверять результат. Также эти места должны быть популярны среди туристов.

Для поиска оптимальных мест воспользуемся базой данных крупнейшей социальной сети, основанной на локациях — Foursquare.

Часть открытых данных есть, например, на сайте archive.org:

https://archive.org/details/201309_foursquare_dataset_umn

Скачаем любым удобным образом архив fsq.zip с этой страницы.

Нас будет интересовать файл checkins.dat. Открыв его, увидим следующую структуру:


id | user_id | venue_id | latitude | longitude | created_at
---------+---------+----------+-------------------+--------------
-----+---------------------
984301 | 2041916 | 5222 | | | 2012-04-21 17:39:01
984222 | 15824 | 5222 | 38.8951118 | -77.0363658 | 2012-04-21 
17:43:47
984315 | 1764391 | 5222 | | | 2012-04-21 17:37:18
984234 | 44652 | 5222 | 33.800745 | -84.41052 | 2012-04-21 
17:43:43
...
Для удобной работы с этим документом преобразуем его к формату csv, удалив строки, не содержащие координат — они неинформативны для нас:

id,user_id,venue_id,latitude,longitude,created_at
984222,15824,5222,38.8951118,-77.0363658,2012-04-21T17:43:47
984234,44652,5222,33.800745,-84.41052,2012-04-21T17:43:43
984291,105054,5222,45.5234515,-122.6762071,2012-04-21T17:39:22
...
С помощью pandas построим DataFrame и убедимся, что все 396634 строки с координатами считаны успешно.

Теперь необходимо кластеризовать данные координаты, чтобы выявить центры скоплений туристов. Поскольку баннеры имеют сравнительно небольшую площадь действия, нам нужен алгоритм, позволяющий ограничить размер кластера и не зависящий от количества кластеров.

Эта задача — хороший повод познакомиться с алгоритмом MeanShift, который мы обошли стороной в основной части лекций. Его описание при желании можно посмотреть в sklearn user guide, а чуть позже появится дополнительное видео с обзором этого и некоторых других алгоритмов кластеризации. Используйте MeanShift, указав bandwidth=0.1, что в переводе из градусов в метры колеблется примерно от 5 до 10 км в средних широтах.

Примечание:на 396634 строках кластеризация будет работать долго. Быть очень терпеливым не возбраняется — результат от этого только улучшится. Но для того, чтобы сдать задание, понадобится сабсет из первых 100 тысяч строк. Это компромисс между качеством и затраченным временем. Обучение алгоритма на всём датасете занимает около часа, а на 100 тыс. строк — примерно 2 минуты, однако этого достаточно для получения корректных результатов.

Некоторые из получившихся кластеров содержат слишком мало точек — такие кластеры не интересны рекламодателям. Поэтому надо определить, какие из кластеров содержат, скажем, больше 15 элементов. Центры этих кластеров и являются оптимальными для размещения.

При желании увидеть получившиеся результаты на карте можно передать центры получившихся кластеров в один из инструментов визуализации. Например, сайт mapcustomizer.com имеет функцию Bulk Entry, куда можно вставить центры полученных кластеров в формате:

38.8951118,-77.0363658
33.800745,-84.41052
45.5234515,-122.6762071
...
Как мы помним, 20 баннеров надо разместить близ офисов компании. Найдем на Google Maps по запросу Carnival Cruise Line адреса всех офисов:


33.751277, -118.188740 (Los Angeles)
25.867736, -80.324116 (Miami)
51.503016, -0.075479 (London)
52.378894, 4.885084 (Amsterdam)
39.366487, 117.036146 (Beijing)
-33.868457, 151.205134 (Sydney)
Осталось определить 20 ближайших к ним центров кластеров. Т.е. посчитать дистанцию до ближайшего офиса для каждой точки и выбрать 20 с наименьшим значением.

Примечание: при подсчете расстояний и в кластеризации можно пренебречь тем, что Земля круглая, так как в точках, расположенных близко друг к другу погрешность мала, а в остальных точках значение достаточно велико.

Для сдачи задания выберите из получившихся 20 центров тот, который наименее удален от ближайшего к нему офиса. Ответ в этом задании — широта и долгота этого центра, записанные через пробел.

In [1]:
import numpy as np
import pandas as pd
import sklearn
print(np.__version__, pd.__version__, sklearn.__version__)

1.16.3 0.24.2 0.21.0

In [2]:
check = pd.read_csv('data/checkins.dat', sep='|', skipinitialspace=True, header=[0], skiprows=[1], low_memory=False)
check.columns = ['id','user_id','venue_id','latitude','longitude','created_at']
print(check.shape)
check.head(10)

(1021967, 6)

        id    user_id  venue_id   latitude   longitude           created_at
0  984301   2041916.0    5222.0        NaN         NaN  2012-04-21 17:39:01
1  984222     15824.0    5222.0  38.895112  -77.036366  2012-04-21 17:43:47
2  984315   1764391.0    5222.0        NaN         NaN  2012-04-21 17:37:18
3  984234     44652.0    5222.0  33.800745  -84.410520  2012-04-21 17:43:43
4  984249   2146840.0    5222.0        NaN         NaN  2012-04-21 17:42:58
5  984268   2146843.0    5222.0        NaN         NaN  2012-04-21 17:42:38
6  984281   2146846.0    5222.0        NaN         NaN  2012-04-21 17:39:40
7  984291    105054.0    5222.0  45.523452 -122.676207  2012-04-21 17:39:22
8    6651   1338710.0  219703.0        NaN         NaN  2011-12-08 23:11:23
9  984318   2146539.0    5222.0  40.764462 -111.904565  2012-04-21 17:35:46

In [3]:
check = check.dropna()
print(check.shape)
check.head()

(396634, 6)

         id    user_id  venue_id   latitude   longitude           created_at
1   984222     15824.0    5222.0  38.895112  -77.036366  2012-04-21 17:43:47
3   984234     44652.0    5222.0  33.800745  -84.410520  2012-04-21 17:43:43
7   984291    105054.0    5222.0  45.523452 -122.676207  2012-04-21 17:39:22
9   984318   2146539.0    5222.0  40.764462 -111.904565  2012-04-21 17:35:46
10  984232     93870.0  380645.0  33.448377 -112.074037  2012-04-21 17:38:18

In [4]:
# Оставляем первые 10к элементов
check_mini = check.iloc[:100000]
print(check_mini.shape)
check_mini.head()

(100000, 6)

         id    user_id  venue_id   latitude   longitude           created_at
1   984222     15824.0    5222.0  38.895112  -77.036366  2012-04-21 17:43:47
3   984234     44652.0    5222.0  33.800745  -84.410520  2012-04-21 17:43:43
7   984291    105054.0    5222.0  45.523452 -122.676207  2012-04-21 17:39:22
9   984318   2146539.0    5222.0  40.764462 -111.904565  2012-04-21 17:35:46
10  984232     93870.0  380645.0  33.448377 -112.074037  2012-04-21 17:38:18

print(check_mini.columns)
check_mini_2 = check_mini.rename(columns={'id    ': 'user_id', 'venue_id ': 'venue_id', 'latitude      ': 'latitude',
                           'longitude     ':'longitude','created_at      ':'created_at'})
check_mini_2.head()

In [5]:
from sklearn.cluster import MeanShift
# coord = check_mini_2[['latitude', 'longitude']]
coord = check[['latitude', 'longitude']]
to_ms = np.array(coord)
print(to_ms.shape,'\n', to_ms)

(396634, 2)
 [[  38.8951118  -77.0363658]
 [  33.800745   -84.41052  ]
 [  45.5234515 -122.6762071]
 ...
 [  42.7653662  -71.467566 ]
 [  42.439479   -83.7438303]
 [  42.331427   -83.0457538]]

In [6]:
%%time
MS = MeanShift(bandwidth=0.1)
MS.fit(to_ms)

CPU times: user 45min 13s, sys: 1min 7s, total: 46min 20s
Wall time: 51min 26s

In [7]:
MS_labels = MS.labels_
MS_centers = MS.cluster_centers_
MS_labels_u = np.unique(MS_labels)
MS_N_clusters = len(MS_labels_u)
print('Labels:\n', MS_labels.shape, MS_labels)
print('Centers:\n', MS_centers.shape, MS_centers)
print('Number of estimated clusters: ', MS_N_clusters)

Labels:
 (396634,) [   4    7   29 ...  363 1056   96]
Centers:
 (5536, 2) [[  40.71748459  -73.98935883]
 [  33.44969472 -112.0025631 ]
 [  41.87816455  -87.6298271 ]
 ...
 [ -41.8675416   147.9641979 ]
 [ -43.3659797   170.192856  ]
 [ -45.0311622   168.6626435 ]]
Number of estimated clusters:  5536

In [8]:
result = coord.copy()
result['cluster'] = MS_labels
result.sort_values('cluster')

          latitude   longitude  cluster
710086   40.732961  -73.988456        0
880274   40.732961  -73.988456        0
565284   40.732961  -73.988456        0
766501   40.714353  -74.005973        0
182504   40.715972  -74.001437        0
766509   40.740389  -73.983385        0
565309   40.714353  -74.005973        0
766513   40.715972  -74.001437        0
182495   40.714353  -74.005973        0
880207   40.740389  -73.983385        0
86542    40.715972  -74.001437        0
86546    40.650000  -73.950000        0
86553    40.740389  -73.983385        0
263511   40.740389  -73.983385        0
565321   40.650000  -73.950000        0
565336   40.740389  -73.983385        0
263515   40.744824  -73.948749        0
766523   40.715972  -74.001437        0
86573    40.715972  -74.001437        0
86577    40.715972  -74.001437        0
182482   40.715972  -74.001437        0
263520   40.715972  -74.001437        0
565338   40.740389  -73.983385        0
766533   40.740389  -73.983385        0
880096   40.714353  -74.005973        0
86595    40.740389  -73.983385        0
880090   40.714353  -74.005973        0
880086   40.740389  -73.983385        0
766496   40.740389  -73.983385        0
565345   40.740389  -73.983385        0
...            ...         ...      ...
961684  -26.953915  152.777606     5506
530161  -27.250583  153.110366     5507
359101  -29.368792  -50.878644     5508
37532   -29.772121   30.806820     5509
717754  -29.947685  -51.095400     5510
49223   -30.810192  121.536292     5511
396632  -30.982071  -64.490906     5512
248085  -31.398930  -64.182129     5513
26414   -32.890183  -68.844050     5514
450912  -33.655039  151.320314     5515
534532  -33.767241  150.621818     5516
583660  -33.932640   25.569950     5517
530253  -34.134171   18.423800     5518
156408  -34.455906  -58.908329     5519
1009248 -34.493805  -58.627271     5520
801226  -34.827179  -58.462012     5521
327295  -34.883333  -56.166667     5522
974715  -35.144175  147.458412     5523
848745  -35.422713  -71.656514     5524
946781  -35.708420  150.177613     5525
309562  -35.725107  174.323699     5526
135049  -36.506376  148.301203     5527
751840  -36.953021  174.468809     5528
393813  -38.361021  144.890055     5529
515353  -38.416097  -63.616672     5530
883084  -38.451163  145.239041     5531
367287  -41.218472  175.465151     5532
410043  -41.867542  147.964198     5533
804914  -43.365980  170.192856     5534
93291   -45.031162  168.662644     5535

[396634 rows x 3 columns]

In [9]:
gruppirovka =  result.groupby('cluster').count()
print(gruppirovka.shape)
gruppirovka.head()

(5536, 2)

         latitude  longitude
cluster
0           56187      56187
1           10895      10895
2           15282      15282
3            9175       9175
4           10942      10942

In [10]:
big_cl = gruppirovka[gruppirovka['latitude'] >15]
print(big_cl.shape)
big_cl.tail()

(1304, 2)

         latitude  longitude
cluster
2335           17         17
2665           22         22
3588           20         20
4013           16         16
4816           27         27

In [11]:
moi_klastery = list(big_cl.index)
print(len(moi_klastery),moi_klastery)

1304 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1193, 1194, 1195, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1258, 1259, 1260, 1262, 1263, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1286, 1288, 1289, 1296, 1301, 1308, 1318, 1328, 1332, 1366, 1481, 1491, 1534, 1538, 1554, 1563, 1606, 1642, 1978, 2066, 2335, 2665, 3588, 4013, 4816]

In [12]:
result.loc[result.cluster.isin(moi_klastery)]

          latitude   longitude  cluster
1        38.895112  -77.036366        4
3        33.800745  -84.410520        7
7        45.523452 -122.676207       29
9        40.764462 -111.904565       92
10       33.448377 -112.074037        1
11       32.221743 -110.926479       34
12       40.650000  -73.950000        0
13       33.448377 -112.074037        1
15       33.414768 -111.909309        3
18       42.358431  -71.059773        8
19       33.448377 -112.074037        1
20       33.414768 -111.909309        3
25       33.448377 -112.074037        1
26       33.248664 -111.634299      302
27       32.840678 -117.258794      215
29       34.052234 -118.243685       11
34       33.414768 -111.909309        3
35       33.448377 -112.074037        1
38       34.483901 -114.322455      560
40       34.048928 -111.093731      131
41       32.715329 -117.157255       27
42       33.448377 -112.074037        1
46       38.895112  -77.036366        4
47       33.745851 -117.826166       32
49       34.096111 -118.105833       53
50       34.052234 -118.243685       11
52       37.629349 -122.400087        5
53        4.598056  -74.075833      846
54       33.804167 -118.158056       48
55       40.735657  -74.172367       39
...            ...         ...      ...
1021885  41.499495  -81.695409       62
1021887  41.499495  -81.695409       62
1021890  30.267153  -97.743061       14
1021895  39.739154 -104.984703       19
1021896  28.538335  -81.379237       20
1021898  30.267153  -97.743061       14
1021901  42.129224  -80.085059      463
1021902  40.715972  -74.001437        0
1021912  33.448377 -112.074037        1
1021915  35.960638  -83.920739      184
1021916  33.103174  -96.670550      282
1021918  41.650111  -70.241131      564
1021923  39.867891  -75.131565      144
1021925  28.538335  -81.379237       20
1021936  33.103174  -96.670550      282
1021939  28.538335  -81.379237       20
1021940  47.606209 -122.332071        9
1021943  42.129224  -80.085059      463
1021947  28.320007  -80.607551      417
1021949  30.267153  -97.743061       14
1021952  33.448377 -112.074037        1
1021953  33.448377 -112.074037        1
1021954  37.629349 -122.400087        5
1021955  40.850100  -73.866246       47
1021957  33.748995  -84.387982        7
1021959  40.850100  -73.866246       47
1021960  33.748995  -84.387982        7
1021961  42.765366  -71.467566      363
1021962  42.439479  -83.743830     1056
1021964  42.331427  -83.045754       96

[380729 rows x 3 columns]

Некоторые из получившихся кластеров содержат слишком мало точек — такие кластеры не интересны рекламодателям. Поэтому надо определить, какие из кластеров содержат, скажем, больше 15 элементов. Центры этих кластеров и являются оптимальными для размещения.

In [13]:
LA = (33.751277, -118.188740)
MM = (25.867736, -80.324116)
LN = (51.503016, -0.075479)
AM = (52.378894, 4.885084)
BJ = (39.366487, 117.036146)
SD = (-33.868457, 151.205134)

In [14]:
fin = pd.DataFrame(MS_centers, columns=['Clust_Lat','Clust_Long'])
fin['to_LA']= (fin['Clust_Lat']-LA[0])**2 + (fin['Clust_Long']-LA[1])**2
fin['to_MM']= (fin['Clust_Lat']-MM[0])**2 + (fin['Clust_Long']-MM[1])**2
fin['to_LN']= (fin['Clust_Lat']-LN[0])**2 + (fin['Clust_Long']-LN[1])**2
fin['to_AM']= (fin['Clust_Lat']-AM[0])**2 + (fin['Clust_Long']-AM[1])**2
fin['to_BJ']= (fin['Clust_Lat']-BJ[0])**2 + (fin['Clust_Long']-BJ[1])**2
fin['to_SD']= (fin['Clust_Lat']-SD[0])**2 + (fin['Clust_Long']-SD[1])**2
fin

,Clust_Lat,Clust_Long,to_LA,to_MM,to_LN,to_AM,to_BJ,to_SD
0,40.717485,-73.989359,2002.113344,260.644182,5579.589319,6357.166201,36492.568689,56275.622282
1,33.449695,-112.002563,38.359737,1061.010109,12853.594564,14021.036630,52493.738697,73810.025364
2,41.878165,-87.629827,999.893459,309.707237,7758.401637,8669.274095,41894.469070,62779.689320
3,33.446828,-111.902533,39.609085,1054.639068,12831.315966,13997.770643,52447.961181,73756.992130
4,38.886107,-77.048199,1718.910557,180.209611,6083.986085,6895.118237,37668.963907,57392.810793
5,37.686018,-122.409060,33.293282,1910.814266,15156.414409,16419.679634,57336.830506,79984.769828
6,37.786081,-122.423890,34.216143,1914.437947,15157.288035,16420.525110,57343.606647,80007.215775
7,33.768093,-84.393379,1142.126695,78.974550,7424.035773,8317.005889,40605.195631,60081.362370
8,42.362979,-71.074473,2293.915545,357.648942,5124.397460,5870.172890,35394.584054,55219.455697
9,47.606401,-122.332040,209.131406,2237.235264,14961.850363,16206.973377,57365.024753,81460.738204
10,33.357167,-111.822480,40.684590,1048.238506,12816.664076,13982.481601,52412.382618,73702.810198
11,34.064978,-118.265478,0.104297,1506.741760,14272.961103,15501.460513,55394.960418,77229.362567
12,44.977697,-93.268038,747.073877,532.735724,8727.432889,9688.813127,44259.335585,65983.847911
13,36.117223,-115.171181,14.703363,1319.369901,13483.743198,14677.948660,53930.800320,75854.336437
14,30.267265,-97.743018,430.165872,322.774016,9989.905364,11021.451530,46212.885288,66088.573416
15,39.952145,-75.163621,1889.611665,225.001280,5771.651627,6562.219196,36941.093248,56692.294252
16,40.769463,-73.837861,2016.255442,264.132985,5556.098094,6332.080889,36434.854738,56215.168561
17,32.981038,-117.078272,1.826407,1401.467067,14032.717297,15251.337085,54850.334791,76444.841049
18,34.033594,-118.436591,0.141133,1519.242001,14314.533600,15544.785621,55475.849727,77317.348482
19,39.735047,-104.988462,210.052842,800.632275,11145.219098,12232.062979,49295.062392,71052.634418
20,28.543022,-81.376553,1382.263028,8.264777,7137.025991,8009.218847,39484.746569,57989.433846
21,32.803121,-96.769824,459.668963,318.560873,9699.482442,10716.931224,45756.070590,65936.679071
22,34.128866,-118.352398,0.169358,1514.396487,14291.290587,15520.540419,55435.199200,77284.898900
23,43.040803,-87.913222,1002.902273,352.508772,7787.078183,8698.725581,42017.744144,63092.622605
24,25.787086,-80.215128,1505.423577,0.018383,7083.672324,7949.170257,39092.465055,57114.121289
25,-6.212296,106.843635,52236.657131,36060.895605,14762.754277,13828.473764,2181.312758,2732.805792
26,29.762315,-95.382874,536.019351,241.933932,9556.157598,10565.173022,45214.080111,64854.520730
27,32.710764,-117.152925,2.155580,1403.188186,14060.277031,15280.110910,54888.819499,76448.840369
28,37.344522,-121.909553,26.755859,1861.065203,15044.004606,16302.912383,57099.135532,79662.920738
29,45.522793,-122.675636,158.700828,2179.972523,15066.561579,16318.743424,57499.638568,81313.646812
...,...,...,...,...,...,...,...,...
5506,-26.953915,152.777606,77107.880723,57126.539374,29519.555415,28165.892450,5675.847589,50.283565
5507,-27.250583,153.110366,77324.431677,57313.213060,29668.032372,28311.587742,5739.183342,47.426164
5508,-29.368792,-50.878644,8514.792148,3918.109853,9121.210893,9792.277516,32919.915246,40858.100275
5509,-29.772121,30.806820,26234.898861,15445.878523,7559.364245,7420.725626,12215.643834,14512.534080
5510,-29.947685,-51.095400,8559.074043,3969.679088,9237.249128,9911.480298,33072.671357,40940.878628
5511,-30.810192,121.536292,61636.274068,43960.011690,21564.886976,20527.928281,4945.017600,889.593194
5512,-30.982071,-64.490906,7073.863728,3482.591090,10953.136771,11762.078430,37900.990134,46533.112810
5513,-31.398930,-64.182129,7161.263463,3540.034736,10982.395146,11789.003625,37847.807344,46397.771585
5514,-32.890183,-68.844050,6875.982642,3584.284965,11851.328367,12706.800663,39772.473550,48422.600311
5515,-33.655039,151.320314,77178.741490,57202.102579,30172.580413,28845.114159,6507.547443,0.058814
5516,-33.767241,150.621818,76817.866123,56892.354704,29980.691897,28660.352061,6476.539479,0.350503
5517,-33.932640,25.569950,25247.673571,14789.638184,7956.939345,7877.544583,13738.827030,15784.203578
5518,-34.134171,18.423800,23271.420135,13351.379758,7675.951121,7667.807247,15126.741510,17630.953263
5519,-34.455906,-58.908329,8166.386927,4097.577705,10850.240493,11609.882016,36406.203977,44148.012430
5520,-34.493805,-58.627271,8204.959733,4114.268681,10823.765610,11580.685115,36312.978967,44030.029458
5521,-34.827179,-58.462012,8270.286562,4161.824232,10861.889782,11617.753721,36304.303617,43961.231427
5522,-34.883333,-56.166667,8557.447307,4274.274778,10608.822683,11342.012577,35512.250142,43004.093699
5523,-35.144175,147.458412,75314.992713,55607.333383,29273.984754,27987.441517,6477.353065,15.665383
5524,-35.422713,-71.656514,6950.288968,3831.646467,12679.926905,13567.738386,41198.344299,49669.729772
5525,-35.708420,150.177613,76845.149077,56922.670186,30181.826297,28869.293941,6734.598501,4.441262
5526,-35.725107,174.323699,90390.494828,68639.187928,38023.818712,36471.759230,8920.611240,537.915189
5527,-36.506376,148.301203,75953.027525,56160.066336,29761.292842,28468.774412,6734.195129,15.391432
5528,-36.953021,174.468809,90647.538874,68865.882255,38290.179043,36738.830908,9123.178119,550.713119
5529,-38.361021,144.890055,74410.635767,54846.755929,29090.551100,27835.123987,6817.405704,60.063355
5530,-38.416097,-63.616672,8186.240476,4411.549870,12122.930091,12936.220966,38685.571025,46169.089363
5531,-38.451163,145.239041,74607.387876,55015.658332,29208.063854,27949.332315,6850.989853,56.595461
5532,-41.218472,175.465151,91853.071037,69928.708478,39411.787132,37858.026192,9907.884217,642.571151
5533,-41.867542,147.964198,76555.592079,56703.622095,30633.806963,29354.023458,7555.511797,74.489021
5534,-43.365980,170.192856,89111.016192,67552.060650,37991.432249,36493.740323,9670.296864,450.736524
5535,-45.031162,168.662644,88490.388942,67021.060172,37791.401546,36311.808045,9788.258435,429.370625

In [15]:
fin.sort_values('to_LA').head(5)

,Clust_Lat,Clust_Long,to_LA,to_MM,to_LN,to_AM,to_BJ,to_SD
48,33.811275,-118.144334,0.005572,1493.468735,14253.252295,15480.994246,55340.718722,77129.682283
79,33.898488,-118.062259,0.037668,1488.660406,14230.799665,15457.574561,55301.159032,77097.287695
36,33.922035,-118.414390,0.080076,1515.740732,14313.188802,15543.415987,55466.597084,77290.238719
31,33.816965,-117.893695,0.091366,1474.663498,14193.928423,15419.173783,55222.827368,76995.496044
11,34.064978,-118.265478,0.104297,1506.741760,14272.961103,15501.460513,55394.960418,77229.362567

In [16]:
fin.sort_values('to_MM').head(5)

,Clust_Lat,Clust_Long,to_LA,to_MM,to_LN,to_AM,to_BJ,to_SD
317,25.846206,-80.311245,1497.194808,0.000629,7096.049957,7962.397914,39128.790537,57165.674527
24,25.787086,-80.215128,1505.423577,0.018383,7083.672324,7949.170257,39092.465055,57114.121289
98,26.005052,-80.205598,1502.723069,0.032902,7070.982160,7936.003727,39082.833571,57135.764020
461,26.139268,-80.336708,1490.719039,0.073888,7085.184517,7951.271724,39131.002643,57212.551468
51,26.108543,-80.158582,1504.704263,0.085390,7058.182690,7922.556516,39061.533982,57126.409852

In [17]:
fin.sort_values('to_LN').head(5)

,Clust_Lat,Clust_Long,to_LA,to_MM,to_LN,to_AM,to_BJ,to_SD
55,51.503055,-0.127113,14253.673312,7088.728828,0.002666,25.889216,13874.525646,30189.744237
849,51.480366,-0.308323,14210.113195,7058.533864,0.054730,27.778834,13916.470574,30240.749355
964,51.598314,-0.321786,14211.135666,7062.435512,0.069749,27.720796,13922.501706,30264.976319
4205,51.574152,0.183871,14329.729850,7142.355747,0.072323,22.749016,13803.481297,30107.861320
4198,51.809782,-0.237674,14238.563490,7086.827894,0.120413,26.566542,13907.984549,30275.684906

In [18]:
fin.sort_values('to_AM').head(5)

,Clust_Lat,Clust_Long,to_LA,to_MM,to_LN,to_AM,to_BJ,to_SD
319,52.372489,4.892268,15495.684141,7964.334095,25.434497,0.000093,12745.405414,28844.955511
2487,52.501441,4.953887,15515.675326,7981.692105,26.291379,0.019752,12734.959725,28849.186453
4187,52.308051,5.040622,15529.829435,7986.228684,26.822567,0.029211,12710.481534,28790.455135
2488,52.283837,4.714203,15448.589110,7929.326042,23.550732,0.038236,12783.076871,28881.810703
1291,52.379860,4.640444,15434.032660,7921.869249,23.008789,0.059849,12802.141594,28919.980376

In [19]:
fin.sort_values('to_BJ').head(5)

,Clust_Lat,Clust_Long,to_LA,to_MM,to_LN,to_AM,to_BJ,to_SD
3720,39.121079,117.214389,55443.467917,39197.112058,13910.225499,12793.642420,0.091996,6482.843111
427,39.904214,116.407413,55073.213636,38900.317217,13702.796337,12592.847507,0.684456,6653.288373
3663,40.376322,116.842992,55283.806268,39085.367545,13793.732180,12678.634898,1.057075,6693.044012
3804,36.665282,116.994917,55319.843945,39051.387784,13925.635970,12815.532257,7.298208,6145.347285
5094,35.051712,118.347707,55951.181891,39554.838669,14294.696386,13173.998054,20.337476,5829.600204

In [20]:
fin.sort_values('to_SD').head(5)

,Clust_Lat,Clust_Long,to_LA,to_MM,to_LN,to_AM,to_BJ,to_SD
251,-33.866146,151.207082,77146.225037,57174.832506,30174.307220,28848.334156,6530.671441,0.000009
2476,-33.750672,151.082589,77063.561948,57103.417870,30116.952973,28792.012738,6505.279271,0.028890
3305,-33.923072,151.035967,77061.760354,57102.428713,30132.285651,28808.109967,6527.347336,0.031600
5515,-33.655039,151.320314,77178.741490,57202.102579,30172.580413,28845.114159,6507.547443,0.058814
2071,-33.776228,150.932315,76986.106001,57036.939168,30075.903160,28752.498585,6498.806944,0.082937

In [21]:
fin['min_dist'] = fin[['to_LA','to_MM','to_LN','to_LN','to_BJ','to_SD']].min(axis=1)
fin.sort_values('min_dist')

,Clust_Lat,Clust_Long,to_LA,to_MM,to_LN,to_AM,to_BJ,to_SD,min_dist
251,-33.866146,151.207082,77146.225037,57174.832506,30174.307220,28848.334156,6530.671441,0.000009,0.000009
317,25.846206,-80.311245,1497.194808,0.000629,7096.049957,7962.397914,39128.790537,57165.674527,0.000629
55,51.503055,-0.127113,14253.673312,7088.728828,0.002666,25.889216,13874.525646,30189.744237,0.002666
48,33.811275,-118.144334,0.005572,1493.468735,14253.252295,15480.994246,55340.718722,77129.682283,0.005572
24,25.787086,-80.215128,1505.423577,0.018383,7083.672324,7949.170257,39092.465055,57114.121289,0.018383
2476,-33.750672,151.082589,77063.561948,57103.417870,30116.952973,28792.012738,6505.279271,0.028890,0.028890
3305,-33.923072,151.035967,77061.760354,57102.428713,30132.285651,28808.109967,6527.347336,0.031600,0.031600
98,26.005052,-80.205598,1502.723069,0.032902,7070.982160,7936.003727,39082.833571,57135.764020,0.032902
79,33.898488,-118.062259,0.037668,1488.660406,14230.799665,15457.574561,55301.159032,77097.287695,0.037668
849,51.480366,-0.308323,14210.113195,7058.533864,0.054730,27.778834,13916.470574,30240.749355,0.054730
5515,-33.655039,151.320314,77178.741490,57202.102579,30172.580413,28845.114159,6507.547443,0.058814,0.058814
964,51.598314,-0.321786,14211.135666,7062.435512,0.069749,27.720796,13922.501706,30264.976319,0.069749
4205,51.574152,0.183871,14329.729850,7142.355747,0.072323,22.749016,13803.481297,30107.861320,0.072323
461,26.139268,-80.336708,1490.719039,0.073888,7085.184517,7951.271724,39131.002643,57212.551468,0.073888
36,33.922035,-118.414390,0.080076,1515.740732,14313.188802,15543.415987,55466.597084,77290.238719,0.080076
2071,-33.776228,150.932315,76986.106001,57036.939168,30075.903160,28752.498585,6498.806944,0.082937,0.082937
51,26.108543,-80.158582,1504.704263,0.085390,7058.182690,7922.556516,39061.533982,57126.409852,0.085390
31,33.816965,-117.893695,0.091366,1474.663498,14193.928423,15419.173783,55222.827368,76995.496044,0.091366
3720,39.121079,117.214389,55443.467917,39197.112058,13910.225499,12793.642420,0.091996,6482.843111,0.091996
11,34.064978,-118.265478,0.104297,1506.741760,14272.961103,15501.460513,55394.960418,77229.362567,0.104297
32,33.675235,-117.854455,0.117529,1469.483388,14189.716969,15414.821300,55205.984800,76955.212779,0.117529
159,26.202449,-80.244158,1496.776132,0.118426,7067.135695,7932.194023,39092.810068,57177.288376,0.118426
4198,51.809782,-0.237674,14238.563490,7086.827894,0.120413,26.566542,13907.984549,30275.684906,0.120413
2264,51.269958,0.193080,14321.159562,7128.291783,0.126440,23.244638,13793.994624,30053.190071,0.126440
66,34.070046,-118.023957,0.128767,1488.555902,14215.751952,15441.846324,55281.304374,77099.943633,0.128767
4219,51.232910,-0.329744,14196.350316,7042.491529,0.137608,28.507715,13915.564250,30205.062084,0.137608
97,34.011356,-117.921505,0.139055,1479.882221,14193.644102,15418.824846,55233.775338,77036.816928,0.139055
18,34.033594,-118.436591,0.141133,1519.242001,14314.533600,15544.785621,55475.849727,77317.348482,0.141133
2083,51.385777,-0.432447,14177.520222,7033.849254,0.141171,29.262413,13943.333584,30262.240273,0.141171
53,34.127295,-118.121813,0.145869,1496.886189,14236.852607,15463.817530,55326.714705,77160.426492,0.145869
...,...,...,...,...,...,...,...,...,...
4038,-3.365789,36.674450,25360.284205,14543.263430,4361.143044,4118.033473,8284.049596,14047.690333,4361.143044
3307,-37.201728,-59.841070,8438.779619,4397.312538,11440.457529,12214.162900,37148.241059,44551.610795,4397.312538
5530,-38.416097,-63.616672,8186.240476,4411.549870,12122.930091,12936.220966,38685.571025,46169.089363,4411.549870
2829,-37.979858,-57.589794,8817.588018,4593.364698,11315.081264,12067.814541,36476.676137,43612.225664,4593.364698
5439,-4.279763,39.594696,26341.972586,15289.393095,4685.441157,4414.960519,7902.173313,13332.380751,4685.441157
5483,-17.822676,31.049497,24931.923912,14312.933702,5774.815705,5612.836945,10664.304263,14694.844280,5774.815705
2824,-22.558904,17.082481,21469.139715,11833.184601,5779.563585,5764.450063,13825.489197,18116.792037,5779.563585
3297,-24.143474,-10.030696,15049.964675,7442.286021,5821.497795,6078.153297,20179.497482,26091.568170,5821.497795
5493,-22.957640,18.490410,21897.091312,12148.227890,5889.081526,5860.698251,13595.558890,17732.243894,5889.081526
4063,-23.891581,29.449600,25119.778516,14526.258353,6556.075547,6420.600803,11672.986207,14923.948114,6556.075547
2823,-21.866978,35.439841,26695.131108,15679.896601,6644.493968,6446.042681,10407.494287,13545.638629,6644.493968
5498,-25.731340,28.218370,24973.223584,14443.935911,6765.687638,6645.650891,12126.324414,15191.956792,6765.687638
4064,-25.860278,28.189444,24980.110334,14450.980202,6783.985122,6664.461218,12148.267231,15196.990822,6783.985122
1787,-26.093216,28.024129,24959.566407,14439.282734,6810.763231,6693.287493,12208.111946,15234.014388,6810.763231
1149,-26.200650,28.048934,24979.690845,14455.834778,6828.842255,6711.308618,12217.773262,15226.244825,6828.842255
5502,-26.316944,27.827778,24929.014693,14420.073001,6834.537977,6719.402180,12272.446117,15278.997365,6834.537977
5501,-26.218889,28.253333,25041.701630,14502.078990,6843.216108,6723.686552,12183.829363,15175.661187,6843.216108
3300,-25.465833,30.985278,25759.553739,15024.916485,6888.974376,6741.021685,11607.981673,14523.417910,6888.974376
5504,-26.470711,29.116510,25325.524504,14716.563643,6932.074308,6804.422199,12064.399022,14960.358758,6932.074308
5487,-20.200199,57.717659,33853.822972,21177.786280,8481.397841,8059.005722,7066.872981,8926.729259,7066.872981
5499,-25.966667,32.583333,26298.450887,15434.897411,7068.149758,6905.219896,11400.698545,14133.569891,7068.149758
5488,-20.348404,57.552152,33811.636605,21145.796874,8483.570411,8063.079926,7104.213749,8953.672871,7104.213749
3303,-29.556591,30.411405,26089.889245,15334.211635,7500.109983,7365.016766,12254.236434,14609.717154,7500.109983
5509,-29.772121,30.806820,26234.898861,15445.878523,7559.364245,7420.725626,12215.643834,14512.534080,7559.364245
1246,-33.912417,18.406774,23236.709812,13321.455248,7637.389863,7629.026452,15097.550892,17635.406474,7637.389863
4069,-33.924318,18.636980,23301.263839,13368.388263,7647.985520,7637.359048,15053.937947,17574.318549,7647.985520
5518,-34.134171,18.423800,23271.420135,13351.379758,7675.951121,7667.807247,15126.741510,17630.953263,7675.951121
4071,-34.076939,18.837820,23376.945031,13426.453612,7681.641577,7669.289902,15036.848052,17521.149280,7681.641577
5517,-33.932640,25.569950,25247.673571,14789.638184,7956.939345,7877.544583,13738.827030,15784.203578,7956.939345
4077,-75.250973,-0.071389,25833.199112,16665.493501,16066.573744,16313.949575,26851.336891,24597.099041,16066.573744

In [22]:
answer = list(fin.sort_values('min_dist').iloc[0, [0,1]])
print(answer)
with open('answers/3.1. Banners_answer1.txt', 'w') as f_out:
    out = ' '.join(str(i) for i in answer)
    f_out.write(str(out))

[-33.86614606619713, 151.20708241502382]

Ответ на выборке 10k:    [-33.86063042857143, 151.20477592857145]
Ответ на полной выборке: [-33.86614606619713, 151.20708241502382]
из интернетов            [-33.86524223, 151.20746318]